.container {
    margin: 20px;
    margin-bottom: 40px;
}

.row {
    display: flex;
    gap: 10px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

// .card:nth-child(1) {
    
// }