.card {
    margin: 20px;
    padding: 0px 15px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.2);
}

.info {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 16px;
    font-weight: 700;
}

.chart {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0px 5px rgb(0, 0, 0, 0.15);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.bar-value {
    margin-top: 5px;
}

.bar-empty {
    margin-top: 5px;
    height: 200px;
    width: 25px;
    border-radius: 5px;
    background-color: #c2c2c2;
}

.bar {
    position: absolute;
    margin-top: 5px;
    height: 100px;
    width: 25px;
    border-radius: 5px;
    background-color: #456EFD;
    translate: 0 -25px;
}