.main-card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
    padding-left: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.complementary-cards {
    display: flex;
    margin: 20px;
    border-radius: 16px;
    gap: 20px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-left: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card-info {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    color: gray;
    align-items: center;
}

.secondary-card-info {
    display: flex;
    margin: 5px 0;
    align-items: center;
    gap: 6px
}

h1 {
    text-align: center;
}

.date-input {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 6px 10px;
    align-items: center;
    padding: 0 20px;
}

.date-input input {
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

input {
    color-scheme: light;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}