.container {
    margin: 20px;
    margin-top: 50px;
}

.card {
    margin-bottom: 20px;
    padding: 15px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.2);
    background-color: rgb(253, 83, 83);
    display: flex;
    color: white;
}

.card:nth-child(1) {
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.3);
    background-color: rgb(83, 123, 253);
}

.header {
    flex: 1;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

h6 {
    margin: 0;
}

.icon {
    font-size: 30px;
}

.title {
    font-size: 18px;
    font-weight: 600;
}