.tab-buttons {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.create-button {
    margin-top: 20px;
    padding: 15px;
    border-radius: 20px;
    max-width: 200px;
    background-color: #0054e9;
}