.card {
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 140px;
}

.icon {
    flex: 2;
    display: flex;
    justify-content: center;
    width: 100px;
}

.icon img {
    background-color: rgb(126, 126, 126, 0.1);
    border-radius: 10px;
    padding: 25px;
}

.card-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}
.card-content h3 {
    margin-bottom: 10px;
}

.card-content .stock { // Product Stock
    height: 20px;
    font-size: 14px;
    margin-bottom: 5px;
}

.card-content .stock span {
    font-weight: 600;
}

.card-content .code {
    font-size: 12px;
}

.code-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.stock-text {
    display: flex;
}

.stock-text p:nth-child(1) {
    flex: 3;
}

.stock-text p:nth-child(2) {
    flex: 4;
}