<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>


<div class="card" *ngFor="let product of productList" (click)="seeDetails(product)">
  <div class="icon">
    <img src="./assets/icon/item.svg" alt="Item Icon">
  </div>

  <div class="card-content">
    <h3>{{product.name}}</h3>
    <div class="stock-text">
      <p class="stock" color="danger"><span>Stock:</span> {{product.stock}}</p>
      <p class="stock"><span>Stock Limite:</span> {{product.minStock}}</p>
    </div>

    <div class="code-container">
      <img src="./assets/icon/barcode.svg" alt="barcode icon" style="width:16px; height:16px;">
      <p class="code">{{product.code}}</p>
    </div>
  </div>

</div>

<ion-toast [isOpen]="isToastOpen" message={{msg}} [duration]="2000" (didDismiss)="setOpen(false)" translucent="true"
  color="{{msgColor}}"></ion-toast>