.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 50px 20px;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: start;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.login-background {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
}

.login-background h5 {
    text-align: start;
}

.login-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
    gap: 10px;
}

.user-input {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 12px 10px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.user-input:focus {
    outline: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.form h5 {
    width: 100%;
}

.footer {
    flex: 1;
    display: flex;
    align-items: end;
    text-align: center;
}

ion-item {
    width: 100%;
    margin-bottom: 15px;
}

ion-button {
    margin-top: 20px;
    width: 50%;
    max-width: 300px;
}

h1 {
    font-family: 'Geist';
    font-size: 30px;
}