<ion-content [fullscreen]="true">

  <div class="user-info">
    <img src="./assets/icon/user.svg" alt="User Image">
    <h4>{{name}}</h4>
    <h5>Gerente de Farmacia</h5>
  </div>

  <div class="button-section">
    <div (click)="chargeUserInfo()" class="button">
      <div class="icon-button">
        <img src="./assets/icon/edit.svg" alt="Edit Icon">
      </div>
      <div class="text-content">
        <p>
          Editar Perfil
        </p>
        <h6>
          Modificar Correo, Nombre..
        </h6>
      </div>
      <div class="icon-button">
        <img src="./assets/icon/next.svg" alt="Edit Icon">
      </div>
    </div>
    
    <div (click)="chargeUserInfo()" class="button">
      <div class="icon-button">
        <img src="./assets/icon/edit.svg" alt="Edit Icon">
      </div>
      <div class="text-content">
        <p>
          Preferencias
        </p>
        <h6>
          Notificaciones, Alertas...
        </h6>
      </div>
      <div class="icon-button">
        <img src="./assets/icon/next.svg" alt="Edit Icon">
      </div>
    </div>
  </div>
  
  <div class="button-section">
    <div (click)="chargeUserInfo()" class="button">
      <div class="icon-button">
        <img src="./assets/icon/edit.svg" alt="Edit Icon">
      </div>
      <div class="text-content">
        <p>
          Ayuda
        </p>
        <h6>
          Información, Soporte...
        </h6>
      </div>
      <div class="icon-button">
        <img src="./assets/icon/next.svg" alt="Edit Icon">
      </div>
    </div>
  </div>


  <div style="display: flex; justify-content: center; margin-top: 25px;">
    <app-logout-button></app-logout-button>
  </div>

  <footer>
    <h3>
      ArmoSalud v1.0
    </h3>
    <h6>
      © 2025 Todos los derechos reservados
    </h6>
  </footer>
</ion-content>
