<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventory" href="/tabs/inventory">
      <ion-icon aria-hidden="true" name="pricetag-outline"></ion-icon>
      <ion-label>Inventario</ion-label>
    </ion-tab-button>


    <ion-tab-button >
    </ion-tab-button>

    <ion-tab-button tab="reports" href="/tabs/reports">
      <ion-icon aria-hidden="true" name="bar-chart-outline"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="user" href="/tabs/user">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>
  
  </ion-tab-bar>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="/tabs/billing"><ion-icon name="cart">Factura Nueva</ion-icon></ion-fab-button>
      <ion-fab-button href="/tabs/tab3"><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-tabs>