<div class="main-container">
  <div class="card">
    <div class="icon-content">
      <img src="./assets/icon/clipboard-out.svg" alt="danger icon" height="30px">
      <span>5</span>
    </div>
    <div class="text-content">
      <span>Agotados</span>
    </div>
  </div>
  <div class="card">
    <div class="icon-content">
      <img src="./assets/icon/clipboard-low.svg" alt="danger icon" height="30px">
      <span>26</span>
    </div>
    <div class="text-content">
      <span>Stock Bajo</span>
    </div>
  </div>
  <div class="card">
    <div class="icon-content">
      <img src="./assets/icon/clipboard-complete.svg" alt="danger icon" height="30px">
      <span>248</span>
    </div>
    <div class="text-content">
      <span>Productos</span>
    </div>
  </div>
</div>