.main-container {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 20px;
    height: 100px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.icon-content {
    flex: 1;
    display: flex;
}

.icon-content img {
    flex: 3;
}

.icon-content span{
    flex: 4;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

.text-content {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}