.main-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(50% - 10px);
    height: 100px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding-left: 15px;
}

.icon-card {
    display: flex;
    flex: 1;
    justify-content: center;
}

.icon-card img {
    height: 50px;
}

.content-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 0;
    flex: 2;
}

.content-card p:nth-child(1) {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}

.content-card p:nth-child(2) {
    font-weight: 600;
    margin-top: 0px;
    color: rgb(99, 99, 99);
}
