// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-ExtraBold.ttf') format('truetype');
  font-weight: 700;
} 

ion-toast {
    --background: #dd2f3e;
    --border-radius: 10px;
    --color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

:root {
  --ion-font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 26px;
    margin: 0;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin: 0;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}

h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    color: #758097;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    color: #758097;
}