.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search-input {
    flex: 4;
}

.search-input input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    
}

.search-filter {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.search-filter button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 50px;
    width: 50px;
}
