.title {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
    align-items: center;
}

.clean {
    margin-top: 15px;
    position: absolute;
    right: 50px;
    color: #135bec;
}

.product-list-container {
    margin-bottom: 150px;
    height: calc(100vh - 450px);
    overflow-y: auto;
}

.card {
    display: flex;
    padding: 15px 20px;
    margin: 10px 10px;
    box-shadow: 0 1px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.card-info {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.card-title {
    width: 200px;
    display: flex;
    justify-content: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.card-price {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: gray;
}

.second-btn {
    background-color: #135bec;
    padding: 15px;
    border-radius: 15px;
    width: 200px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}

button:active {
    background-color: #5f89e2;
    color: black;
}

.input-quantity {
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    width: 60px;
    height: 40px;
    text-align: center;
}

input:focus {
    outline: none;
}

.icon-btn {
    display: flex;
    align-items: center;
    background-color: rgb(197, 197, 197, 0.4);
    padding: 8px;
    border-radius: 100rem;
}

.quantity-input {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-right: 10px;
}


.total-section {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    background-color: white;

    padding: 20px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

.total-info {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.total-section .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

ion-select {
    width: 130px;
}

.total-section .amount {
    flex: 2;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
}


.amount p {
    margin-bottom: 15px;
}

p {
    margin: 0;
}

ion-label {
    font-weight: 600;
}

.btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-discount {
    display: flex;
    gap: 5px;
}

input {
    border: solid 1px black;
}

.input-discount input {
    background-color: white;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    margin: 0;
    text-align: center;
}

.main-btn {
    flex: 1;
    height: 50px;
    width: 100%;
    background-color: #135bec;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}

ion-searchbar{
    --border-radius: 10px;
}

.product-list {
    display: flex;
    margin: 20px 10px;
}

.item-info{ 
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-item-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-right: 5px;
    justify-content: center;
}

.main-item-info h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.complement-item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn {
    padding: 10px 10px;
    background-color: #5f89e2;
    border-radius: 10px;
}

.price-input {
    width: 70px;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px gray;
    color: black;
}