<nav>
  <div class="icon-content">
    <img src="./assets/icon/favicon.png" alt="Logo" height="50px">
  </div>
  <div class="button-content">
    <button>
      <img src="./assets/icon/bell.svg" alt="bell" height="25px">
      <span></span>
    </button>
    <button (click)="openModal()">
      <img src="./assets/icon/add.svg" alt="add" height="25px">
    </button>
  </div>
</nav>

<ion-toast [isOpen]="isToastOpen" [message]="msgToast" color="success" [duration]="3000" (didDismiss)="setOpen(false)">
</ion-toast>