.main-container {
    padding-left: 20px;
    padding-right: 20px;
}

.card-notification {
    height: 45px;
    color: white;
    background-color: #1555da;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
}
.card-notification {
    font-weight: 700;
}