<div class="main-container">
  <p class="title">Actividad Reciente</p>
  <div class="history">
    <div class="card-activity">
      <div class="first-info">
        <p class="title-card">Venta</p>
        <p>15 Nov, 2025</p>
      </div>
      <div class="second-info">
        <p></p>
        <p>15,500</p>
      </div>
    </div>
    <div class="card-activity">
      <div class="first-info">
        <p class="title-card">Venta</p>
        <p>15 Nov, 2025</p>
      </div>
      <div class="second-info">
        <p></p>
        <p>15,500</p>
      </div>
    </div>
  </div>
</div>