.navbar {
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 20px;
    border-radius: 0 0 15px 15px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
    line-height: 30px;
}

.welcome-text {
    font-size: 18px;
    font-weight: 700;
}

.title {
    font-family: 'Geist';
    font-size: 26px;
    font-weight: 900;
}