.navbar {
    display: flex;
    justify-content: space-between;
    height: 120px;
    padding: 20px;
    padding-top: 30px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
    line-height: 30px;
}

.title {
    font-family: 'Geist';
    font-size: 26px;
    font-weight: 900;
    color: black;
}