.navbar {
    background-color: #1e3a8a; 
    color: white; 
    height: 96px;
    padding-top: 12px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar p {
    margin: 0;
    line-height: 26px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.mono {
  font-family: var(--ion-font-family-mono);
}
